<section class="draw-me">
    ${this.gameBoard[0]}

    <div class="row">
        <div class="col"><i class="fas fa-circle"></i></div>
        <div class="col"><i class="fas fa-circle"></i></div>
        <div class="col"><i class="fas fa-circle"></i></div>
        <div class="col"><i class="fas fa-circle"></i></div>
        <div class="col"><i class="fas fa-circle"></i></div>
        <div class="col"><i class="fas fa-circle"></i></div>
        <div class="col"><i class="fas fa-circle"></i></div>
    </div>
</section>