<div>
    ${App.game.playerTurn === 'red' ? `<h1 class="text-center text-danger">${this.players[0].name}</h1>` : `<h1 class="text-center text-warning">${this.players[1].name}</h1>`
    }
    <div class="justify-content-around row pl-5 pr-5 player-moves-display">
        <h4 class="text-center text-danger">${this.players[0].name}: ${this.players[0].moves} moves</h4>
        <h4 class="text-center text-warning">${this.players[1].name}: ${this.players[1].moves} moves</h4>
    </div>
    <div class="container rounded game-bg text-center m-0 p-3">
        <div class="row d-flex the-board mr-3">
            ${this.colArray}
        </div>
    </div>

    <div class="text-center rematch">
        <button type="button" class="play-again btn btn-dark">Play again</button>
    </div>

</div>