<div>
    ${App.game.playerTurn === 'red' ? `<h3 class="text-center">Player: ${this.players[0].name} has made ${this.players[0].moves} moves.</h3>` :  `<h3 class="text-center">Player: ${this.players[1].name} has made ${this.players[1].moves} moves.</h3>` }
    <div class="container rounded game-bg text-center m-0 p-3">
        <div class="row d-flex the-board">
            ${this.colArray}
        </div>
    </div>
   
    <div class="text-center">
    <button type="button" class="play-again btn btn-primary">Play again</button>
</div>
</div>