<main>
    <div class="jumbotron mt-3">
        <h2 class="mb-2">Player One</h2>
        <div class="input-group">
            ${this.startGame ? `<p class="lead">${this.players[0]}</p>` :
            `<input type="text" class="form-control name-field1" placeholder="Name - 2-20 characters">
            ` }
        </div>
        <h2 class="mb-2">Player Two</h2>
        <div class="input-group">
            ${this.startGame ? `<p>${this.players[1]}</p>` : `
            <input type="text" class="form-control name-field2" placeholder="Name - 2-20 characters">
            ` }
        </div>
        <div class="mt-5">
            ${this.startGame ? `<a href="/board"><button type="button" class="btn btn-warning start-game nav-switch">Start
                    Game</button></a>`:
            `<a href="/play"><button type="button" class="btn btn-primary start-game">Add Players</button></a>` }
        </div>
    </div>
</main>