<section>
<section class="jumbotron mt-3">
    <h1 class="display-4 text-center">Highscores</h1>
</section>

<section class="container">
    <div class="row highscore-top lead">
        <h1>Name</h1>
        <h1>Moves</h1>
      </div>
<hr class="top-content-break">
      <div class="row highscore-content lead">
        <p>Pelle</p>
        <p>7</p>
      </div>
      <div class="row highscore-content lead">
        <p>Pelle</p>
        <p>7</p>
      </div>
   
</section>

</section>