<div>
    ${App.resetGamePage.startGame ? `
      <h2>The page is missing</h2>
      <p>We are sorry but we can't find the page <i>${location.pathname}</i>.</p>` : `
      <h1 class="display-4 text-center">You rage quit!</h1>


  <div class="row m-4 justify-content-center">
    <div class="col-12 col-md-8">
      <h2 class="text-center">That means you lose!</h2>
      <p class="text-justify lead text-center">
        We recommend that you go grab a cup of hot <i>chocolate</i> and try again later.</p> 
      <img class="mb-4 img-fluid" src="https://i.ytimg.com/vi/In2t6r1vHiM/maxresdefault.jpg">
    </div>` }

</div>