<nav class="navbar navbar-expand-lg navbar-dark bg-dark p-2 lead">
  <a class="navbar-brand" href="#">
    <picture class="size-fix">
      <img src="img/logo.jpg" alt="logo" class="img-thumbnail">
    </picture>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    ${ App.changeNav ? `
    <ul class="navbar-nav m-0 p-0 text-white">
      <p class="m-0 p-0 mr-3 pl-4 mb-0" href="#">${this.navItems[0].name}</p>
      <a class="m-0 p-0 mr-3 pl-4 text-danger nav-switch-back" href="${this.navItems[4].url}" class="text-danger">${this.navItems[4].name}</a>
      <p class="m-0 p-0 mr-3 pl-4 mb-0" href="#">${this.navItems[2].name}</p>
      <p class="m-0 p-0 mr-3 pl-4" href="#">${this.navItems[3].name}</p>
    </ul>` : `
    <ul class="navbar-nav m-0 p-0 text-white">
      <a class="mr-3 pl-4" href="${this.navItems[0].url}">${this.navItems[0].name}</a>
      <a class="mr-3 pl-4" href="${this.navItems[1].url}">${this.navItems[1].name}</a>
      <a class="mr-3 pl-4" href="${this.navItems[2].url}">${this.navItems[2].name}</a>
      <a class="mr-3 pl-4" href="${this.navItems[3].url}">${this.navItems[3].name}</a>
    </ul>
    `}
  </div>
</nav>