<nav class="navbar navbar-expand-lg navbar-dark bg-dark p-1 pl-3">
  <a class="navbar-brand" href="#">
    <!-- OLD LOGO -->
      <!-- </nav><i class="fas fa-circle"></i><i class="fas fa-circle"></i><i class="fas fa-circle"></i><i
      class="fas fa-circle"></i> -->
    <picture class="size-fix">
      <img src="img/logo.jpg" alt="logo" class="img-thumbnail">
    </picture>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    ${ App.changeNav ? `
    <ul class="navbar-nav mr-auto">
      <a href="#"><button class="btn btn-secondary mr-3 mt-1 mb-1" disabled>${this.navItems[0].name}</button></a>
      <a href="${this.navItems[4].url}" class="col-4 mr-3 mt-1 mb-1 btn btn-danger nav-switch-back btn-pop">${this.navItems[4].name}</a>
      <a href="#"><button class="btn btn-secondary mr-3 mt-1 mb-1" disabled>${this.navItems[2].name}</button></a>
      <a href="#"><button class="btn btn-secondary mr-3 mt-1 mb-1" disabled>${this.navItems[3].name}</button></a>
    </ul>` : `
    <ul class="navbar-nav mr-auto">
      <a href="${this.navItems[0].url}"><button class="mr-3 mt-1 mb-1 btn btn-secondary btn-pop mb-1 mt-1">${this.navItems[0].name}</button></a>
      <a href="${this.navItems[1].url}"><button class="mr-3 mt-1 mb-1 btn btn-secondary btn-pop mb-1 mt-1">${this.navItems[1].name}</button></a>
      <a href="${this.navItems[2].url}"><button class="mr-3 mt-1 mb-1 btn btn-secondary btn-pop mb-1 mt-1">${this.navItems[2].name}</button></a>
      <a href="${this.navItems[3].url}"><button class="mr-3 mt-1 mb-1 btn btn-secondary btn-pop mb-1 mt-1">${this.navItems[3].name}</button></a>
    </ul>
    `}
  </div>
