<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#"><i class="fas fa-circle"></i><i class="fas fa-circle"></i><i class="fas fa-circle"></i><i
      class="fas fa-circle"></i></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    ${ App.changeNav ? `
    <ul class="navbar-nav mr-auto">
      <a href="#" class="btn-sm btn-secondary mr-2 dis-btn">${this.navItems[0].name}</a>
      <a href="${this.navItems[1].url}" class="mr-2 btn-sm btn-warning nav-switch-back nicer-btn">${this.navItems[3].name}</a>
      <a href="#" class="btn-sm btn-secondary mr-2 dis-btn">${this.navItems[2].name}</a>
    </ul>` : `
    <ul class="navbar-nav mr-3">
      <a href="${this.navItems[0].url}" class="mr-2 btn-sm btn-secondary nicer-btn">${this.navItems[0].name}</a>
      <a href="${this.navItems[1].url}" class="mr-2 btn-sm btn-secondary nicer-btn">${this.navItems[1].name}</a>
      <a href="${this.navItems[2].url}" class="mr-2 btn-sm btn-secondary nicer-btn">${this.navItems[2].name}</a>
    </ul>
    `}
  </div>
</nav>