<section>
    <i class="text-center fas fa-ruler fa-4x col-12 py-4"  id="rulesIcon"></i>
    <h1 class="text-center col-12 pb-3">RULES</h1>

    <article class="col-12">
      <p class="text-justify lead">
        The Connect 4 Board Game Rules are easy to understand. In fact, the goal is in the name, to win: connect Four</p> 
      <p class="text-justify lead">All you have to do is connect four of your colored checker pieces in a row, much the same as the inferior game Tic tac toe. This can be
      done horizontally, vertically or diagonally.
      
      <p class="text-justify lead">Each player will drop in one checker piece at a time. This will
      give you a chance to either build your row, or stop your opponent from getting four in a row.</p>

      <p class="text-justify lead">The game is over either when you or your friend reaches four in a row, or when all forty two slots are filled,
      ending in a stalemate. If you and your friend decide to play again, the loser typically goes first.
      </p>
    </article>   
</section>