<section>


  <section class="jumbotron mt-3">
    <h1 class="display-4 text-center">Game rules</h1>
  </section>

  <div class="row m-4">
    <div class="col-12 col-md-8">
      <p class="lead text-justify">
        The Connect 4 Board Game Rules are easy to understand. In fact, it is in the name. To win Connect Four, all you
        have to do is connect four of your colored checker pieces in a row, much the same as tic tac toe. This can be
        done horizontally, vertically or diagonally. Each player will drop in one checker piece at a time. This will
        give you a chance to either build your row, or stop your opponent from getting four in a row.

        The game is over either when you or your friend reaches four in a row, or when all forty two slots are filled,
        ending in a stalemate. If you and your friend decide to play again, the loser typically goes first.
      </p>
    </div>
    <div class="col-6 col-md-4 text-right">
      <img class="mb-4" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSg0z5osfcauG_QGJP0UR5SrN9MzC13AgPRRWTeFLJ-p_ATQ37F2A">
      
  </div>
  </div>

</section>