<div>

  <div class="container row">
    <div class="jumbotron col">
      <h1 class="display-4">Play Connect-Four</h1>
      <p class="lead">This entire page is dedicated to the game connect four</p>
      <hr class="my-4">
      <p>Connect Four has remained a timeless game over the years for very good reason. The game is fun and
        approachable, which makes it accessible for people of all ages. If you have never played Connect Four, then you
        are in for a treat. You will have a blast playing this game with your friends or our AI-opponent.</p>
      <p>By clicking on the play-button a new game against an AI-opponent or a friend is initiated. Feel free to read
        up on the <a href=/rules>rules </a> before you play</p> <p class="lead">
          <a class="btn btn-warning btn-lg" href="/play" role="button">Play</a>
      </p>
    </div>
    <div class="panel rounded col-md-3 mx-3 text-center" id="startSidePanel">
      <h1 class="display-4">Philosophy</h1>
      <img src="img/eat-sleep-game-repeat.png" class="img-fluid" id="startSideImg" alt="eat-sleep-game-repeat">
    </div>
  </div>
  <div class="panel row d-flex mt-5 ">
    <a target="_blank" rel="noopener noreferrer" href="https://eniko.itch.io/lorefinder" class="col-md m-3 p-3 text-center bg-light rounded">
      <h4>Lore Finder</h4>
      <img src="https://img.itch.zone/aW1nLzE2MjAzNzUucG5n/315x250%23c/Rewlnn.png" alt="" class="img-fluid">
    </a href>
    <a target="_blank" rel="noopener noreferrer" href="https://nickzangus.itch.io/rogues-like-beer" class="col-md m-3 p-3 text-center bg-light rounded">
      <h4>Rogues Like Beer</h4>
      <img src="https://img.itch.zone/aW1nLzE2OTE2MzAuanBn/315x250%23c/StFdap.jpg" alt="" class="img-fluid">
    </a href>
    <a target="_blank" rel="noopener noreferrer" href="https://jaimuepe.itch.io/pymes-genocide" class="col-md m-3 p-3 text-center bg-light rounded">
      <h4>Pymes Genocide</h4>
      <img src="https://img.itch.zone/aW1nLzE2ODg3NzUucG5n/315x250%23c/8EJaW0.png" alt="" class="img-fluid">
    </a href>
  </div>

