<div>
  <h1>Connect Four</h1>
  <p>Welcome to Connect Four - a two-dimensional, not very exciting game.</p>

  <div class="container row">
    <div class="jumbotron col-8">
      <h1 class="display-4">Play Connect-Four</h1>
      <p class="lead">This entire page is dedicated to the game connect four</p>
      <hr class="my-4">
      <p>Connect Four has remained a timeless game over the years for very good reason. The game is fun and
        approachable, which makes it accessible for people of all ages. If you have never played Connect Four, then you
        are in for a treat. You will have a blast playing this game with your friends or our AI-opponent.</p>
      <p>By clicking on the play-button a new game against an AI-opponent or a friend is initiated. Feel free to read up on the <a
          href=/rules>rules </a> before you play</p> <p class="lead">
          <a class="btn btn-warning btn-lg" href="/play" role="button">Play</a>
      </p>
    </div>
    <div class="panel rounded col-3 ml-3" id="startSideFrame">
      <h1 class="display-4">Rules of engagement</h1>
      <img src="img/eat-sleep-game-repeat.png" class="img-fluid" id="startSideImg" alt="eat-sleep-game-repeat">
    </div>
  </div>

</div>