<div>
  <h1>Connect Four</h1>
  <p>Welcome to Connect Four - a two-dimensional, not very exciting game.</p>

  <div class="jumbotron">
    <h1 class="display-4">Play Connect-Four</h1>
    <p class="lead">This entire page is dedicated to the game connect four</p>
    <hr class="my-4">
    <p>By clicking on the play-button a new game against an AI-opponent is initiated. Feel free to read up on the <a
        href=rules.html>rules</a> before you play</p>
    <p class="lead">
      <a class="btn btn-warning btn-lg" href="/play" role="button">Play</a>
    </p>
  </div>

</div>