body > div {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1;
}

#startSideFrame {
  background-color: #e9ecef;
}

#startSideImg {
  max-width: 100%;
  height: auto; 
}
.node{
  margin: 0;
}

.footerinfo{
  display: flex;
  justify-content: space-around;
  font-size: 70%;
}

.footerinfo p{
margin: 0;
}


.game-bg{
  background-color: blue;
}

.boarddd{
padding: 0;
}

/* .slot {
  margin: 1rem 1rem 1rem 1rem;
}

.arrow {
  margin: 1rem 1rem 1rem 1rem;
} */