body > div {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1;
}

#startSideImg {
  width: 600%;
  height: auto; 
}

.footerinfo{
  justify-content: space-around;
  font-size: 70%;
}

.footerinfo p{
margin: 0;
}


.game-bg{
  background-color: rgba(0, 38, 143, 0.849);
}

.the-board{
  justify-content: center;
}

.next-turn{
  color: #343a40;
}

.next-turn:hover{
  color: #192430;
}


.jumbotron{
  padding: 15px 20px 15px 20px;
}

.highscore-top{
  display: flex;
  justify-content: space-between;
}

.highscore-content{
  display: flex;
  justify-content: space-between;
}

.highscore-content p{
  margin: 0;
  padding: 5px;
  font-size: 130%;
}

.highscore-content:hover{
  background-color: rgb(243, 243, 243)
}

.top-content-break {
  margin: 10px;
  border: 0;
  height: 1px;
  background: #333;
  background: -webkit-gradient(linear, 0 0, 100% 0, from(rgb(255, 255, 255)), to(rgb(255, 255, 255)), color-stop(50%, rgb(192, 192, 192)));
}

.slot{
  color: white;
}

.btn-sm:link, .btn-sm:visited {
  text-decoration: none;
}

.btn-sm:hover {
  transform: translateY(-1px);
  box-shadow: 0 1rem 1.2rem rgba(0, 0, 0, 0.2);
  text-decoration: none;
}

@media screen and (max-width: 992px) {
  .slot{
    font-size: 40px;
  }
  .arrow{
    font-size: 40px;
  }
  .the-board{
    justify-content: space-between;
    margin-right: 25px;
  }
  .footerinfo{
    display:flex;
    flex-direction: column;
  }
}



